/*
---------
RESET
---------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
---------
COMMON
---------
*/

.product img {
  width: 100%;
  display: block;
}

body {
  padding-top: 100px;
}
/*
---------
HEADER
---------
*/
header {
  background-color: #ff6900;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
}

nav {
  padding: 20px 0;
  color: white;
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 150px;
}

ul {
  list-style: none;
  display: flex;
  column-gap: 10px;
}

header ul li {
  font-weight: bold;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;
}
/*
---------
MAIN
---------
*/

.container {
  max-width: 1380px;
  margin: 60px auto;
  display: flex;
  column-gap: 10px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(1380px / 3 - 10px);
}

.img-product {
  position: relative;
}

.img-main {
  position: relative;
  z-index: 1;
}

.img-hover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.img-main:hover {
  z-index: -1;
  transition: 0.5s;
}

.img-hover:hover {
  z-index: 1;
}

.heart {
  font-size: 30px;
  width: 50px;
  text-align: center;
  background-color: white;
  padding: 5px 0;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1;
}

.heart:hover {
  color: red;
}

.product-features {
  display: flex;
  column-gap: 5px;
  position: absolute;
  left: 0;
  bottom: 40px;
  color: white;
  z-index: 1;
}

.product-features > * {
  padding: 5px 10px;
}

.product-features .discount {
  background-color: red;
}

.product-features .extra-feature {
  background-color: green;
}

.price {
  display: flex;
  column-gap: 5px;
}

.item-description {
  font-weight: 600;
}

.new-price {
  color: red;
  font-weight: 600;
}

.old-price {
  text-decoration: line-through;
}

/*
---------
FOOTER
---------
*/

footer {
  background-color: #1a1a1a;
  color: white;
}

.foot {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  padding: 25px 0;
  justify-content: space-between;
}

footer h2,
footer h3 {
  margin-bottom: 10px;
}
